* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: #edecec;
    font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;  
}

/* ========================= */
/* NAVBAR */
/* ========================= */
.navbar {
    /* border: 2px solid #38bdf8; */
    background:#000000;
    font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;  
    /* font-family: "berkeleyMono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace; */
}

.nav-container {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 20px 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid #facc15; */
}

.nav-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* gap: 10px; */
    /* border: 2px solid #fb7185; */
    /* width: 100px; */
}

.nav-left .icon{
    width: 60px;
    height: 60;
    margin-right: 10px;
    border-radius: 8px;
}
.nav-links {
    display: flex;
    gap: 24px;
    /* border: 2px solid #a78bfa; */
}

.nav-links a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 500;
}

.nav-right {
    /* border: 2px solid #f472b6; */
    padding: 8px 16px;
}

.nav-cta {
    /* border: 2px solid #f472b6; */
    padding: 8px 16px;
    border-radius: 16px;
    background-color: #edecec;
}

/* ========================= */
/* HERO */
/* ========================= */
.hero {
    background: #000000;
    font-family: "berkeleyMono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.hero-container {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 80px 40px; */
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 2px solid #22d3ee; */
}

.hero-text {
    /* border: 2px solid #fb923c; */
    padding-right: 400px;
}
.primary-cta {
    /* margin-top: 20px; */
    width: 250px;
    height: 40px;
    /* margin-right: 10px; */
    border-radius: 16px;
    margin-bottom: 10px;
}
/* ========================= */
/* TRUSTED BY */
/* ========================= */
.trusted-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px;
  /* border: 2px solid #c084fc; */
  margin-bottom: 20px;
}

.trusted-paragraph {
  text-align: center; /* Centers the text inside the paragraph */
}

.logo-row {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  gap: 32px;
  /* border: 2px solid #fca5a5; */
}


/* ========================= */
/* FEATURE BLOCKS */
/* ========================= */

.feature-block {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f14b09;
    gap: 20px;
}

.feature-block.reverse {
  direction: rtl;
}

.feature-block.reverse > * {
  direction: ltr;
}

/* .feature-text {
  border: 2px solid #fbbf24;
} */

/* .feature-image {
  border: 2px solid #34d399;
}
 */

.rounded-image {
  border-radius: 15px;
}


/* ========================= */
/* FEATURE CARDS */
/* ========================= */
.feature-cards {
  background: #000000;
}

.section-header {
  max-width: 1280px;
  margin: 0 auto 40px;
  padding: 0 40px;
  text-align: center;
  /* border: 2px solid #e879f9; */
}

.cards-grid {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  /* border: 2px solid #93c5fd; */
}

.card {
  padding: 24px;
  border: 2px solid #0c0b0b;
  border-radius: 10px;
  /* padding: 100px; */
  /* padding-right: 100px; */
  /* padding-bottom: 100px; */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card h3{
  margin-bottom: 40px;
}