body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: brown;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;

}
button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button{
    background-color: chocolate;
}

.dakait{
    border: 2px solid purple;
}
.dhurandhar{
    border: 2px dashed black;
}

#hamza {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}